/* Reset some default margin and padding */
*, ::before,::after {
    margin: 0;
    padding: 0;
}

p, li {
    color: #333;
    font-size: 22px;
}

a {
    text-decoration: none;
}



/* Global Styles */
html{
    scroll-behavior:smooth;
    line-height:1.15;
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:transparent;
}
body {
    font-family: 'Lora','Poppins', sans-serif;
    line-height: 1.6;
}

section{
    position: relative;
    height:90vh;
    padding-top:73px;
}

.section-title{
    font-size: 32px;
}
.container {
    max-width: 80vw;
    margin: 0 auto;
    padding: 50px;
}
.display-flex{
    display: flex;
    justify-content: space-between;
}

.fi{
    font-size: 40px;
    margin-right: 20px;
}


/* Navigation styles */
.nav {
    padding:10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
    background-color: #F6F4EB;
    border-bottom: #666 1px solid;
}

.nav-container{
    max-width: 90vw;
    margin:0 auto;
}


.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.nav-list li {
    margin: 0 15px;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-list a:hover {
    background-color: #333;
    color: #fff;
}

/* Welcome Section Styles */
.welcome-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(background-image.jpg);
    background-size: cover;
    height:80vh;
    padding-top: 180px;
}

.profile-pic{
    border-radius: 90%;
}

.welcome-content{
    margin:20px;
}

.light{
    color: #f4f4f4;
}

.fi-rr-angle-down{
    position:absolute;
    margin:0;
    padding:0;
    top:80%;
    left: 50%;
    right: 50%;
    animation: updown 1s ease infinite;

}
@keyframes updown {
    0% {
      transform: translateY(-15%);
    }
  
    50% {
      transform: translateY(10%);
    }
  
    100% {
      transform: translateY(-15%);
    }
  }

.bold{
    font-weight: bold;
}

.welcome-content p{
    font-size: 30px;
}

.about-me-section{
    background:#f4f4f4;
}

.about-me-content {
    display: flex;
    justify-content: center;
    width:70vw;
    margin-top:40px;
}

.about-me-content img {
    margin-left:10vw;

}
.icon {
    display: flex;
    margin-bottom: 20px;
    margin-left: 50px;
}

/* Education Section Styles */
.education-section {
    background-color: #fff;
}

.education-section h1{
    font-size: 32px;
}

.education-item {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}


.education-degree {
    font-weight: bold;
    color: #666;
}
/* Projects Section Styles */
.projects-section {
    background-color: #f4f4f4;
}


.project{
    text-align: left;
    margin-top: 20px;
}

.project h2 {
    color: #333;
}

.project a{
    text-decoration: none;
    color:#333;
}

.portfolio-item{
    border: 1px solid #838181;
    border-radius: 2px;
    width:250px;
    position:relative;
}

.portfolio-item img{
    width: 100%;
    height:auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #686464;
}
  
  .portfolio-item:hover .overlay {
    opacity: 0.6;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.project a:hover {
    background-color: #333;
    color: #fff;
}

/* Experiences section */
.experience{
    margin-top:20px;
}


/*Skills section*/
.skills-section{
    background-color: #f4f4f4;
}

.skill{
    margin-top:20px;
}

.skill li{
    list-style: none;
}

.display-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/*footer*/
footer{
    background-color: #333;
    color:#f4f4f4;
    padding:30px;
    text-align: center;

}

footer p {
    font-size: 14px;
}
